*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
    font-size: 2.25rem;
}

p {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--FF-ROBOTO);
}

:root {
  /* fotns */
  --FF-PLAYFAIR: "Playfair Display", serif;
  --FF-ROBOTO: "Roboto", sans-serif;

  /* color */
  --OFF-WHITE: #f3eed9;
  --BROWN: #824936;
  --BLACK: #222c2a;
}

.body {
  font-size: 1.3rem;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hero {
  background: var(--OFF-WHITE);
  height: 100vh;
  min-height: 660px;
}

.hero__text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15em 9em;
  text-align: center;
  gap: 2em;
}

.hero__text p {
  font-size: 1.1rem;
  font-family: var(--FF-ROBOTO);
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.hero__text h1 {
  font-size: 3.75rem;
  font-weight: 900;
  color: var(--BROWN);
  font-family: var(--FF-PLAYFAIR);
}

.section-first {
    padding: 5em 0;
}

.section-first h2 {
    font-size: 2.25rem;
    font-family: var(--FF-PLAYFAIR);
    text-align: center;
    color: var(--BROWN);
}

.section-first__content {
    color: var(--BLACK);
    font-size: 1.3rem;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    gap: 2.5em;
    
}


.section-second {
    background: var(--BLACK);
    color: var(--OFF-WHITE);
}

.section__content {
    padding: 5em 0;
    gap: 2em;
}


.section__content__text {
    width: 55%;
}



.section__content__text h2 {
    margin-bottom: 1em;
}

.section__content__text p {
    color: #fff;
}


.section-third {
    background: var(--BROWN);
    color: var(--OFF-WHITE);
}
