*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
a {
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.btn {
  cursor: pointer;
  background: #a59678;
  padding: 0.25em 0.75em;
  border-radius: 100px;
  text-transform: uppercase;
}

/* navigation bar for mobile layout*/
header {
  color: #dfdfe1;
  background: #2e323f;
  font-size: clamp(1.1em, 2.2vw, 1.125em);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 2em 0;
}

.nav-toggle {
  height: 3em;
  width: 3em;
  background: #3b4050;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.nav-toggle:hover,
.nav-toggle:focus {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  height: 3px;
  background: #dfdfe1;
  margin: 0 auto;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  margin-top: 1em;
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list--secondary {
  margin-top: 1.5em;
}

.nav__item {
  margin-top: 0.5em;
}

.nav__item--button {
  margin-top: 1em;
}

.nav__link--button {
  cursor: pointer;
  background: #a59678;
  padding: 0.25em 0.75em;
  border-radius: 100px;
}

.nav__link--button:hover,
.nav__link--button:focus {
  opacity: 0.75;
}

main {
  text-align: center;
}

/* hero section */
.hero {
  background: #3b4050;
  color: white;
  padding: 3.5em 0;
}

.hero__title h1 {
  font-size: clamp(2.8125em, 11vw, 5.625em);
  margin-bottom: 0.75em;
}
.hero__title--color-modifier {
  color: #a59678;
}

.hero__content p {
  font-size: clamp(1.375em, 3vw, 1.5em);
  margin-bottom: 3em;
}

.hero__content a {
  font-size: clamp(1em, 3vw, 1.5em);
  padding: 0.75em 1.5em;
}

/* features section */

.features {
  background: #f1f1f1;
  padding: 3em 0;
}

.feature + .feature {
  margin-top: 3em;
}

.feature h2 {
  font-size: clamp(1.5625em, 3.5vw, 1.875em);
  color: #a59678;
  margin-bottom: 0.5em;
}

.feature p {
  font-size: clamp(1em, 2.1vw, 1.125em);
}

/* content section */
.content {
  padding: 3em 0;
}

.content__main h2 {
  font-size: clamp(2em, 4vw, 2.25em);
  color: #a59678;
  margin-bottom: 1em;
}

.content__main p {
  font-size: clamp(1.125em, 2.2vw, 1.3125em);
}

.content__main img {
  margin: 2em 0;
}

.sidebar {
  margin-top: 2em;
}

.sidebar article {
  color: #fff;
  background: #3b4050;
  margin-top: 1em;
  padding: 2em;
}

.sidebar article h2 {
  font-size: clamp(1.5625em, 3.5vw, 1.875em);
  margin-bottom: 1em;
}

.sidebar article p {
  font-size: clamp(1.125em, 2.2vw, 1.3125em);
}

/* footer section */
.site-footer {
  background: #3b4050;
  padding: 3em 0;
}

.footer__content {
  margin-top: 4em;
}

.site-footer h1 {
  font-size: 1.5em;
  color: white;
}

.site-footer h2,
h3 {
  color: #a59678;
  font-size: 1.3125em;
  margin: 3em 0 0.75em 0;
}

.site-footer p {
  font-size: 1em;
  color: #6f737f;
}

.nav__footer a {
  font-size: 1em;
  color: #6f737f;
}

.footer__nav {
  margin-top: 4em;
}

.footer__nav li {
  font-size: 1em;
  color: #6f737f;
  line-height: 3em;
}

@media (min-width: 700px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  /* navigation bar */
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    position: relative;
    height: auto;
    margin: 0;
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
  }

  .nav__list {
    display: flex;
    gap: 1em;
    margin: 0;
  }

  .nav__list--secondary {
    margin-left: 1em;
  }

  .nav__item {
    margin: 0;
  }

  /* footer */
  .site-footer h1 {
    font-size: 2em;
  }

  .site-footer h2,
  h3 {
    margin: 0;
  }

  .site-footer h2 {
    margin-bottom: 0.75em;
  }

  .footer__content {
    text-align: left;
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .footer__intro {
    width: 35%;
  }

  .footer__nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 60%;
    gap: 1em;
  }
}

@media (min-width: 1000px) {
  .nav .nav__item {
    margin-left: 1em;
  }

  .hero__row {
    display: flex;
    gap: 3em;
  }

  .hero {
    text-align: left;
  }
  .hero .hero__title {
    line-height: 1;
  }

  .hero .hero__content {
    align-self: flex-end;
    transform: translateY(-6em);
  }

  .hero .hero__content p {
    opacity: 0.65;
  }

  .features__row {
    display: flex;
    gap: 2em;
  }

  .features .feature {
    margin: 0;
  }

  .content__row {
    display: flex;
    justify-content: space-between;
  }

  .content .content__main {
    width: 50%;
    text-align: left;
  }

  .content .sidebar {
    width: 40%;
    margin: 0;
  }

  .content .sidebar p {
    opacity: 0.75;
  }
}
